
@mixin auto{
  margin-left: auto;
  margin-right: auto;
}

@mixin  percentage{
  width: 100%;
  height: 100%;
}

@mixin fullPage{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

@mixin widthAuto($left){
  position: absolute;
  left: $left;
  right: 0;
}

@mixin centerp{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin centerAuto{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

@mixin centerTra{
  position: absolute;
  left: 50%;
  top: 50%;
  transition: translate3d(-50%,50%,0);
}

@mixin cntenrMar($width,$height){
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -$width/2;
  margin-top: -$height/2;
}

@mixin circle{
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius:50%;
}

@mixin borderRadius($radius){
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -ms-border-radius:$radius;
}

$width:600px;
$bg:'';
$row:15;
$margin:5px;
* {
  margin:0;
  padding:0;
  list-style: none;
}
html,body{
  @include percentage;
}
body{
  overflow: hidden;
  background-color: #f6fffa;
}

@keyframes diaoluo {
  0%{
    transform: translate3d(0px,-1000px,0);
  }
  100%{
    transform: translate3d(-50%,-50%,0);
  }
}
@keyframes fly {
  0%{
    transform: translate3d(-1000px,1000px,0);
  }
  100%{
    transform: translate3d(0,0,0);
  }
}

.qipan{
  width: $width;
  height: $width;
  background: url("../image/wzq.jpg");
  position: relative;
  @include borderRadius(4px);
  @include centerAuto;
  i{
    width: $width - $width / $row;
    height: 2px;
    background-color: #333;
    position: absolute;
    left: $width/$row/2;
    //transform: translate3d(0,-1000px,0);
  }
  b{
    height: $width - $width / $row;
    width: 1px;
    background-color: #333;
    position: absolute;
    top: $width/$row/2;
    //transform: translate3d(0,-1000px,0);
  }
  .qizi{
    width: $width/$row - $margin*2;
    height: $width/$row - $margin*2;
    @include circle;
    margin: $margin;
    position: relative;
    float: left;
    z-index: 9999;
  }
  .hei{
    background: #000;
  }
  .bai{
    background: #fff;
  }
  .ban{
    width: $width/2;
    height: $width;
    background-color: rgba(0,0,0,0.5);
    position: absolute;

  }
  .banz{
    right: 0;
    top: 0;
  }
  .black{
    width: $width/$row/4;
    height: $width/$row/4;
    background-color: #000000;
    @include circle;
    position: absolute;
    transform: translate3d(0px,-1000px,0);
    z-index: 99;
  }
  .black:nth-of-type(1){
    left: 3.5*$width/$row;
    top: 3.5*$width/$row;
    animation: diaoluo 1s ease 300ms forwards;
  }
  .black:nth-of-type(2){
    left: 11.5*$width/$row;
    top: 3.5*$width/$row;
    animation: diaoluo 1s ease 600ms forwards;
  }
  .black:nth-of-type(3){
    left: 7.5*$width/$row;
    top: 7.5*$width/$row;
    animation: diaoluo 1s ease 900ms forwards;
  }
  .black:nth-of-type(4){
    left: 3.5*$width/$row;
    top: 11.5*$width/$row;
    animation: diaoluo 1s ease 1200ms forwards;
  }
  .black:nth-of-type(5){
    left: 11.5*$width/$row;
    top: 11.5*$width/$row;
    animation: diaoluo 1s ease 1500ms forwards;
  }

  @for $i from 1 through $row{
    i:nth-of-type(#{$i}){
      top:(2 * $i - 1) * $width / $row / 2;
      //animation: diaoluo .5s ease $i*100ms forwards;
    }
  }
  @for $i from 1 through $row{
    b:nth-of-type(#{$i}){
      left:(2 * $i - 1) * $width / $row / 2 ;
      //animation: fly .5s ease $i*100ms forwards;
    }
  }
}
